---
---

@import "{{ site.theme }}";

.banner-link {
    color: white !important;
}

#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {
    position: relative;
    text-align: left;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;
}
#share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}

#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.vkontakte:hover > svg {fill: #4680C2;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.reddit:hover > svg {fill: #FF4500;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}

#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.vkontakte > svg {height: 17px; margin-top: 9px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.reddit > svg {height: 20px; margin-top: 7px;}
#share-buttons > div.mail > svg {height: 16px; margin-top: 9px;}
