---
layout: default
---
<h1>{{ page.title }}</h1>
<p>
  {% comment %}
    You could use "author" tag with a predefined list of resources: github, twitter and vk
    The record "github:username" will be converted into "https://github.com/username"

    The same applies to other allowed resources in the list. All other possible prefixes will be
    ignored and the link will be generated as "https://t.me/text".
  {% endcomment %}

  {{ page.date | date_to_string }}
  {% if page.author %}
    {% assign sites = "github,twitter,vk" | split: ',' %}
    {% assign authors = page.author | replace: ' ', '' | split: ',' %}
    {% for current_author in authors %}
      {% for site_prefix in sites %}
          {% assign current_site = current_author | split: ':' | first %}
          {% if current_site == site_prefix %}
              {% assign matched = true %}
              {% break %}
          {% endif %}
      {% endfor %}
      {% if matched %}
      - <a target="_blank" href="https://{{ current_site }}.com/{{ current_author | split: ':' | last }}">{{ current_author | split: ':' | last }}</a> 
        {% assign matched = false %}
      {% else %}
      - <a target="_blank" href="https://t.me/{{ current_author }}">{{ current_author }}</a> 
      {% endif %}
    {% endfor %}
  {% endif %}
</p>
{% include share-buttons.html %}
{{ content }}
